{% extends 'base.html.twig' %}
{% block body %}

</h2>
<form method="POST" action="/test/1">
  <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>

  <label for="exampleInputEmail1">Email address</label>
  <input type="text" class="form-control" name="age">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
